body{
font-family: Verdana, sans-serif;
background-color:#f2fff2;
margin:0;
padding:0;
}

main{
max-width:800px;
margin:40px auto;
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,0.15);
}

header{
text-align:center;
margin-bottom:30px;
}

header img{
width:180px;
border-radius:50%;
border:5px solid #2e8b57;
margin-top:10px;
}

h1{
color:#2e8b57;
font-size:36px;
}

h2{
color:#2e8b57;
border-bottom:3px dashed #2e8b57;
padding-bottom:5px;
margin-bottom:15px;
}

section{
background:#e8ffe8;
padding:20px;
margin-bottom:25px;
border-radius:10px;
}

ul{
padding-left:20px;
}

footer{
text-align:center;
margin-top:20px;
color:#2e8b57;
}