body{
font-family: Arial, sans-serif;
background-color:#fff4f4;
margin:0;
padding:0;
}

main{
max-width:800px;
margin:40px auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

header{
text-align:center;
margin-bottom:30px;
}

header img{
width:180px;
border-radius:50%;
border:5px solid #cc0000;
margin-top:10px;
}

h1{
color:#cc0000;
margin-bottom:10px;
}

h2{
color:#cc0000;
border-bottom:2px solid #e43333;
padding-bottom:5px;
margin-bottom:15px;
}

section{
background:#e6a9a9;
padding:15px;
margin-bottom:20px;
border-left:5px solid #e03a3a;
border-radius:5px;
}

ul{
padding-left:20px;
}

footer{
text-align:center;
margin-top:20px;
color:#cc0000;
}